{% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark, no-sticky" id="navbar">
      <a class="navbar-brand" title="What will we eat?" href="{% url 'landing' %}"><img id="navbar-brand" src="{% static 'main/img/salad.png' %}"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto" id="navlinks" style="max-width:600px;">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'program' %}">Research Program</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'team' %}">Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'news' %}">News & Info</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'output' %}">Research output</a>
          </li>
<!--           <li class="nav-item"> -->
<!--             <a class="nav-link" href="#">Link</a> -->
<!--           </li> -->
<!--           <li class="nav-item"> -->
<!--             <a class="nav-link disabled" href="#">Disabled</a> -->
<!--           </li> -->
<!--           <li class="nav-item dropdown"> -->
<!--             <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a> -->
<!--             <div class="dropdown-menu" aria-labelledby="dropdown05"> -->
<!--               <a class="dropdown-item" href="#">Action</a> -->
<!--               <a class="dropdown-item" href="#">Another action</a> -->
<!--               <a class="dropdown-item" href="#">Something else here</a> -->
<!--             </div> -->
<!--           </li> -->
        </ul>
<!--       <img src="{% static 'website/img/Huitzilopochtli_V.png' %}" style="height:60px;"> -->
      </div>

  </nav>
